<div class="flex justify-center p-4">
  <form class="flex flex-col max-w-md gap-2">

    <input type="text" class="form-input" placeholder="Full name" />

    <input type="email" class="form-input" placeholder="Email" />

    <input type="number" class="form-input" placeholder="Mobile" />

    <div>
      <label>Gender</label>
      <div class="flex items-center mb-1 gap-1">
        <input type="radio" id="male" class="form-radio" name="gender" value="male">
        <label for="male"> Male</label>
        <input type="radio" id="female" class="form-radio" name="gender" value="female">
        <label for="female"> Female</label>
      </div>
    </div>

    <div class="flex flex-col">
      <label>Date of birth</label>
      <input type="date" class="form-input" placeholder="dob" />
    </div>

    <div>
      <label>Choice of languages</label>
      <div>
        <ng-container *ngFor="let language of languages; let i = index">
          <input class="form-checkbox" id="language{{i}}" type="checkbox">
          <label class="cursor-pointer" for="language{{i}}"> {{language.label | titlecase}} </label>
        </ng-container>
      </div>
    </div>

    <div>
      <label for="vol">Height (180 centimetres)</label>
      <br>
      <input class="w-full cursor-pointer" type="range" id="vol" name="vol" min="1" max="250">
    </div>

    <div>
      <label for="avatar">Avatar</label>
      <br>
      <input type="file" id="avatar" class="mt-1" accept="image/*" placeholder="Avatar" />
    </div>

    <div>
      <div class="flex justify-between">
        <label>Hobbies</label>
        <button type="button" (click)="addHobby()">+ Add</button>
      </div>
      <div class="flex justify-between">
        <input class="form-input" id="hobby" type="text">
        <button type="button" class="px-4" (click)="removeHobby(0)">x</button>
      </div>
    </div>

    <div>
      <label>Address</label>
      <div class="flex flex-col gap-2">
        <input type="text" class="form-input" placeholder="Line1" />
        <input type="text" class="form-input" placeholder="Line2" />
        <select class="form-select">
          <option value="" disabled>Select a city</option>
          <option value="Delhi">Delhi</option>
          <option value="Noida">Noida</option>
          <option value="Gurugram">Gurugram</option>
        </select>
        <input type="number" class="form-input" placeholder="Pincode" />
      </div>
    </div>

    <button type="button" class="bg-black text-white p-2" (click)="formSubmit()">SUBMIT</button>
  </form>
</div>